# CUSTOM JOB CONFIGURATION
# https://servicedesk.unitn.it/sd/en/kb-article/submitting-jobs?id=unitrento_v2_kb_article&sysparm_article=KB0010404

#------------ PBS PARAMETERS ------------
readonly CHUNKS=1
readonly N_CPUS=1
readonly MPI_PROCESSES_PER_CHUNK=1
# MEMORY for every CHUNK
readonly MEMORY=30gb
readonly PLACING=pack:excl

readonly WALLTIME=03:00:00

#readonly QUEUE_TYPE=short_cpuQ
#readonly QUEUE_TYPE=short_HPC4DS
#readonly QUEUE_TYPE=shortCPUQ

# Benchmarks under job array
readonly JOB_ARRAY_SPEC="0-16:1" # "start-end:step" or "" for non-array jobs


#------------ MPI PARAMETERS ------------

readonly HPC_MPI_PROCESSES=$(( CHUNKS * MPI_PROCESSES_PER_CHUNK ))

